footer{
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: $color3;
}

.footer__left{
	margin-left: 20px;
}

.footer__right {
	display: flex;
}

.footer__link{
	margin-right: 20px;

	a {
		text-decoration: none;
		color: $color1;
		cursor: pointer;
	}
}