@import "./modules/fonts.scss";
@import "./modules/settings.scss";
@import "./modules/palate.scss";
@import "./modules/mixin.scss";
@import "./modules/icons.scss";

@import "./components/**/*";
@import "./pages/**/*";

html {
    box-sizing: border-box;
    font-size: $fontSizeNormal;
    font-family: $fontFamily;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    padding: 0px;
    margin: 0px;
}

.better {
	min-height: 200px;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.better-coloured {
	background-color: darken($color: $color3, $amount: 20%);
}

.better-title {
	font-size: 40px;
}

.description {
	margin-top: 10px;
}

.better-form {
	width: 400px;
	background-color: $color3;
	padding: 20px;
	margin: 20px;
	border-radius: 5px;
}

.form-title{
	text-align: center;
	margin: 10px;
}

.input-section {
	margin-top: 20px;

	.input-holder{
		margin-top: 5px;
	}
}

input,
button {
	height: 30px;
	padding: 5px;
	width: 100%;
}

.error-msg {
	color: $color4;
	font-size: 12px;
	text-align: right;
	margin-top: 5px;
}

.common-msg{
	text-align: center;
	margin-top: 10px;
}